<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>

.footer-container {
    text-align: center;
    margin-top: 200px;
    padding: 5px 0px 0px 0px;
    border-top: 5px solid #ccc;
    font-size: bold;
    color:#0000A0;
}

</style>
</head>
<body>

     <div class="footer-container" xmlns:th="http://www.thymeleaf.org">
  <p>One of the great responsibilities that I have is to manage my assets wisely, so that they create value.</p>
    <br>
  
     
</div>
</body>
</html>